<!DOCTYPE html>
<html ng-app="fileListApp" ng-controller="fileListController">
	<head>
		<title>Shriners BB CRM Import</title>

		<!-- stylesheets -->
		<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
		<link rel="stylesheet" href="../assets/css/customPhoton.css">
		<link rel="stylesheet" href="../assets/css/index.css">
		<!-- flatpickr javascript -->
		<script src="https://unpkg.com/flatpickr"></script>

		<!-- electron js -->

		<!-- angular js -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
		<script src="../angularApp.js"></script>
		
	</head>

	<body>
		<div class="window">

			<div class="window-content">
				<div class="pane-group">

					<!-- SIDEBAR -->
					<div class="pane-sm sidebar padded-less">
						<div>
							<ul class="list-group">
								<li class="list-group-header">Downloads</li>
								<li class="list-group-item">
									<p ng-repeat="file in files">
										{{file}}
									</p>
								</li>
							</ul>
						</div>
					</div>

					<!-- MAIN CONTENT -->
					<div class="pane padded-more">
						<h1>Shriners BB CRM Integration</h1>
						<hr>
						<div class="cal-container">
							<div class='calendar'>
								<input id="flatpickr-start" type="text" placeholder="From">
							</div>
							<div class='calendar'>
								<input id="flatpickr-end" type="text" placeholder="To">
							</div>
						</div>
						<div id="generateButtonWrapper">
							<button class="btn btn-large btn-primary" onclick="calendar.generateCSVbutton()">Generate CSV</button>
						</div>

						<!-- TEST BUTTON FOR OPENING DOWNLOADS FOLDER -->
						<!-- <div id="TEST">
							<button onclick="generate.openCSV()">TEST</button>
						</div> -->

						<div id="modal">
							
						</div>


					</div>
					
				</div>
			</div>

			<footer class="toolbar toolbar-footer">
		    <h1 class="title">&#169; Classy.org 2017</h1>
		  </footer>

		</div>

		<dialog id="newReportModal">
			<div id ="modalContent">
				<p>Generate New Report?</p>
			</div>
			<footer class="toolbar toolbar-footer">
				<div class="toolbar-actions">
				<button id="exit" onclick="generate.exitModal()" class="btn btn-default btn-large pull-left">Exit</button>
				<button onclick="generate.newReport();setFoo();" ng-click="addFile(foo)" id="yes" class="btn btn-primary btn-large pull-right">Yes</button>
				</div>
			</footer>
		</dialog>

		<script>
			// initializing flatpickr requires 'require', not just a script src
			const calendar = require("../calendar.js");
			calendar.setup();
		</script>

		<script>
			// require generate_csv to open downloads folder
			const generate = require("../generate_csv.js");
		</script>
		<script>
		function setFoo() {
			window.foo = "bar";
			// console.log("window.constituentCSVDisplaySidebar: ", window.constituentCSVDisplaySidebar);
		}
		</script>
	</body>
</html>