<!DOCTYPE html>
<html>
	<head>
		<title>Shriners BB CRM Import</title>

		<!-- stylesheets -->
		<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
		<link rel="stylesheet" href="../assets/css/photon.css">

		<!-- flatpickr javascript -->
		<script src="https://unpkg.com/flatpickr"></script>
		
		<!-- electron javascript -->

	</head>

	<body>
		<div class="window">

			<div class="window-content">
				<div class="pane-group">

					<div class="pane-sm sidebar padded-less">
						<ul class="list-group">
							<li class="list-group-header">Downloads</li>
							<li class="list-group-item">
									<p>file 1..</p>
									<p>file 2..</p>
							</li>
						</ul>
					</div>

					<div class="pane padded-more">
						<h1>Shriners</h1>
						<div class='test-cal'>
							<input id="flatpickr-start" type="text" placeholder="From">
						</div>
						<div class='test-cal'>
							<input id="flatpickr-end" type="text" placeholder="To">
						</div>
						<button class="btn btn-primary" onclick="calendar.generateCSVbutton()">Generate CSV</button>
					</div>
				</div>
			</div>

			<footer class="toolbar toolbar-footer">
		    <h1 class="title">&#169; Classy.org 2017</h1>
		  </footer>

		</div>
		<script>
			const calendar = require("../calendar.js");
			calendar.setup();
		</script>

	</body>
</html>