<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
		<title>Shriners BB Import</title>
		<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
		<script src="https://unpkg.com/flatpickr"></script>
		<style type="text/css">
			.wrapper {
				background-color: yellow;
				display: inline-block;
				height: 500px;
				width: 500px; }
		</style>
	</head>
	<body>
		<div class="wrapper">
			<h1>Shriners</h1>

			<div class='test-cal'>
				<input class="flatpickr" type="text" placeholder="From">
			</div>
			<div class='test-cal'>
				<input class="flatpickr" type="text" placeholder="To">
			</div>

		</div>
		<script src="../button.js"></script>
	</body>
</html>